*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h"
    "m"
    "r"
    ;
}
 header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    column-gap: 10%;
 }
 header > p{
   font-family: 'IM FELL DW Pica';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 60px; 
   color: #FFFFFF;
 }
 header >a{
   text-decoration: none;
   background: #FFFFFF;
   border-radius: 91.5px;
   font-family: 'IM FELL DW Pica';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: #000000;
padding: 10px 20px;
 }
 main{
    display: flex;
    flex-direction: column;
    background-color: #75354F;
    padding-bottom: 10px;
 }
 .menu a{
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
 }
 
 .cards{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
 }
 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:200px ;
    height: 250px;
    background-color:white

 } 
 .card img{
    width: 100%;
    height: 80%;
 }

 main > form >div{
   font-size: 10px;
   background-color: blue;
   border-radius: 20px;
   padding: 20px;
   height: 0;
   text-align: center;
 }

 main > form> div{
   background-color: black;
   color:white ;
   padding: 10px;
   width: 180px;
   align-items: center;
   justify-content: center;
   text-align: center;
 }