*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-areas:
    "h"
    "f"
    ;
}
header{
    grid-area: h;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
main{
    grid-area: f;
    background-color: #75354F;
    color: white;
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 40px;
}
form > input{
    font-size: 3rem;
    border-radius: 10px;

}
form > input[type="submit"]{
    background-color: black;
    color: white;
    padding: 10px 20px;
}
